<hr />
<p>layout: post
title: flask 第4章(表单)
category: flask
date: 2019-01-28 22:22:00</p>
<hr />
<h1>表单的处理</h1>
<p><code>shell
pip install flask-wtf</code></p>
<h1>1. 跨站请求伪造保护XSRF和XSS</h1>
<ul>
<li>
<p>XSRF 跨站请求伪造 
** 利用用户已经登陆了的网站上执行非法操作，利用了网站对已登录用户的信任。</p>
</li>
<li>
<p>XSS 跨站脚本攻击
** 利用用户对制定网站的信任，执行一些非法操作。</p>
</li>
<li>
<p>为了防止XSRF攻击，所以有了 SECRET_KEY配置项。</p>
</li>
</ul>
<h1>2. 主文件hello.py 代码</h1>
<p>```py</p>
<h1>coding=utf=8</h1>
<h1>引入核心模块和模板加载模块</h1>
<p>from flask import Flask, render_template</p>
<h1>引入bootstrap前端框架</h1>
<p>from flask_bootstrap import Bootstrap</p>
<h1>引入时间模块,实现了momment.js</h1>
<p>from flask_moment import Moment</p>
<h1>引入manage模块，服务器启动参数控制</h1>
<p>from flask_script import Manager</p>
<h1>引入表单模块</h1>
<p>from flask_wtf import FlaskForm</p>
<h1>引入表单字段类</h1>
<p>from wtforms import StringField,SubmitField</p>
<h1>引入表单验证函数</h1>
<p>from wtforms.validators import Required</p>
<h1>每个web表单都有一个继承自FlaskForm的类表示,所以先定义一个类</h1>
<p>class NameForm(FlaskForm):
    name = StringField("what is your name ?",validators=[Required()]) # 字段对象可附加多个验证函数，所以是列表, Required确保非空
    submit = SubmitField("Submit1")</p>
<p>app = Flask(<strong>name</strong>)</p>
<h1>生成加密令牌的密钥,再用令牌验证请求的表单数据真伪,</h1>
<p>app.config['SECRET_KEY'] = 'this random string！'</p>
<p>bootstrap = Bootstrap(app)
moment = Moment(app)
manager = Manager(app)</p>
<p>@app.errorhandler(404)
def page_not_found(e):
    return render_template('404.html'), 404</p>
<p>@app.errorhandler(500)
def internal_server_error(e):
    return render_template('500.html'), 500</p>
<p>@app.route('/', methods=['GET', 'POST']) #如果不附加post方法，会get提交表单，信息就暴漏在浏览器地址栏中了。
def index():
    name = None
    form = NameForm()
    if form.validate_on_submit():
        name = form.name.data
        form.name.data = ''
    return render_template("index.html",form = form, name = name)</p>
<p>if <strong>name</strong> == "<strong>main</strong>":
    manager.run()</p>
<p>```</p>
<ul>
<li>第一次请求页面是get方式，validate_on_submit()函数返回false , 表单对象和name=None传入模板，用户看到就是表单的样子</li>
<li>用户输入name提交时，是post请求，validate_on_submit()返回true，表单对象传入name会被清空，name参数也传入，显示在页面。hello， nama！</li>
</ul>
<h1>3.模板文件index.html</h1>
<p>```html
{% extends "base.html" %}</p>
<p>{% import "bootstrap/wtf.html" as wtf %}</p>
<p>{% block title %}Flasky{% endblock %}</p>
<p>{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}</p>
<p>```</p>
<p><code>py
{% import "bootstrap\/wtf.html" as wtf %} 引入wtf模板，
{{ wtf.quick_form(form) }}填充表单数据</code></p>
<h1>4. wtdforms 支持的表单字段类型</h1>
<p>|字段类型|说明|
|-|-|
|StringField|文本字段|
|TextAreaField|多行文本|
|PasswordField|密码文本字段|
|HiddenField|隐藏文本字段|
|DateField|文本字段，值为datetime.date格式|
|IntrgerField|文本字段，为整数|
|DecimalField|文本字段，值为小数|
|FloatField|文本字段，值为浮点数|
|BooleanField|复选框，值为flase和true|
|RadioField|一组单选框|
|SelectField|下拉列表|
|SelectMultipleField|下拉列表可选多个值|
|FileField|文件上传字段|
|SubmitField|表单提交按钮|
|FormField|把表单作为一个字段嵌入另一个表单|
|FieldList|一组指定类型的字段|</p>
<h1>5. wtfforms验证函数</h1>
<p>|验证函数|说明|
|-|-|
|Email|验证mail地址|
|EqualTo|比较2个字段的值，常用语密码输入两次对比|
|IPAddress|验证ipv4网络地址|
|Length|验证输入字符串的长度|
|NumberRange|验证输入的值在数字范围内|
|Optional|无输入值时跳过其他验证函数|
|Required|确保字段有值|
|Regexp|使用正则表达式验证输入值|
|URL|验证url|
|AnyOf|确保输入值在可选列表|
|NoneOf|确保输入值不在可选列表|</p>
<h1>6. 重定向和用户会话</h1>
<ul>
<li>目前hello.py 刷新会出现一警告，这个警告是因为最后一次提交是post请求导致的，所以使用url重定向让最后一次请求变为get请求,那么问题是之前的post参数怎么获取呢，不然网页无法渲染，这就需要session字典形式存储，get请求时从session中获取所需字段。</li>
</ul>
<p>```py
from flask import session,url_for</p>
<p>@app.route("/")
def index():
    form = NameForm()
    if form.validate_on_submit():
        session["name"] = form.name.data
        return redirect(url_for("index")) # 一般endpoint就是视图函数名
    return render_template("index.html", form=form, name = session.get('name'))
    #session.get 函数找不到name字段，返回None，网页有默认提示。</p>
<p>```</p>
<h1>7. flash消息(闪现,闪烁)</h1>
<ul>
<li>
<p>主要用于警告，消息提醒，比如用户输入了错误的用户名和密码，需要一个提醒，就可以使用flash功能。</p>
</li>
<li>
<p>只调用flash函数是显示不出消息的，它主要是把消息push方式存入一个地方，然后程序使用模板渲染时可以pop方式获取到，所以flash消息就像队列，先进先出，只会显示一次。</p>
</li>
</ul>
<p>```py
form flask import flash</p>
<p>@app route("/", methods=['GET','POST'])
def index():
    form = NameForm()
    if form.validate_on_submit():
        old_name = session.get("name")
        if old_name  is not None and old_name != form.name.data:
            flash("looks like you have change your name.")
        session['name'] = form.name.data
        return redirect(url_for("index"))
    return render_template("index.html", form = form, name = sesson.get("name"))</p>
<p>```</p>
<ul>
<li>在base.html 模板中渲染循环取出消息</li>
</ul>
<p>```html
{# content 部分添加for循环#}
{% block content %}
    <div class="container">
    {# 增加一个 for循环#}
    {% for message in get_flashed_messages() %} 
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert"> $times;  </button>
            {{ message }}
        </div>
    {% endfor %}</p>
<pre><code>{% block page_content %}  {% endblock %}

&lt;/div&gt;
</code></pre>
<p>{% endblock %}</p>
<p>```</p>